.header {
  display: grid;
  grid-template-columns: 452px 148px 452px;
  height: 105px;
  margin: 92px 24px 96px;
  font-weight: 400;
  font-size: 18px;
}

.header__menu {
  align-self: center;
}

.header__links-list {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 32px;
  list-style: circle;
}


.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link_active {
  text-decoration: none;
}

.header__link {
  text-underline-position: under;
}

.header__logo {
  justify-self: center;
  width: 148px;
  height: 105px;
}

.header__logo-image {
  height: 100%;
}

.header__address {
  justify-self: end;
  max-width: 240px;
  margin-top: 5px;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 135%;
  text-underline-position: under;
}