.header {
  padding: 92px 24px 96px;
  height: 105px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  font-size: 18px;
  font-weight: 400;
  align-items: center;
}

.header__menu {
  grid-column: 1/6;
  align-self: center;
}

.header__links-list {
  display: flex;
  justify-content: start;
  gap: 32px;
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link_active {
  text-decoration: none;
}

.header__link {
  text-underline-position: under;
}

.header__logo {
  justify-self: center;
  width: 148px;
  height: 105px;
  grid-column: 6/8;
}

.header__logo-image {
  height: 100%;
}


.header__address {
  grid-column: 10/13;
  justify-self: end;
  line-height: 135%;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  text-underline-position: under;
}